---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Montserrat|Oswald');

// Our variables
$base-font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$sans-font-family: 'Montserrat', "Gill Sans", Verdana, sans-serif;

$h1-font-size: 44px; 
$h2-font-size: 16px; 

$spacing-unit:     32px;
$spacing-unit-large: 64px; 

$text-color:       #4a4a4a;
$background-color: #FBFBFB;
$brand-color:      #4990E2;
$brand-color-dark:   darken($brand-color, 20%); 


$grey-color:       #7a7a7a;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$grey-color-pale: #E5E5E5;

// Width of the content area
$content-width:    1276px;

$on-palm:          600px;
$on-laptop:        1276px;




// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";
