/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-pale;
  min-height: 72px;
  position: relative; 
  -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.1);
 -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.1);
 box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.1);


  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  line-height: 72px;
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 72px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-small) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-pale;
  padding: $spacing-unit 0;
  background-color: #F1F1F1;
  clear:both;
  position: relative; 
  z-index: 10; 
}

.footer-text {
  font-family: $sans-font-family;
  font-size: 10px; 
  color: #929292;
}

ul.social-media-list {
  margin-bottom: 0; 
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;

  li {
    display: inline-block;
    margin-left: 16px; 
  }
}

.footer-col-wrapper {
  
    @extend %clearfix;
}


.icon-social {
  width: 22px; 
}

.footer-col {
  float: left;
  /*padding-left: $spacing-unit / 2;*/
}

.footer-col-1 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(50 - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
  text-align: right; 
}


@include media-query($on-medium) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

}

@include media-query($on-small) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}


/**
 *Home Page
 */

.statement-bg {
  padding-top:  $spacing-unit-large;
  padding-bottom: $spacing-unit-large; 
  padding-left: 500px; 
  padding-right: 500px; 
  margin-left: -500px; 
  margin-right: -500px; 
  background-color: #f8f8f8;
  border: 1px solid #eeeeee;

}

.statement {
  margin-right: 10%;
  margin-left: 10%; 
}

.statement-text {
  color: $grey-color; 
  font-size: 18px; 
  font-style: italic;
}

.portfolio-projects {
  margin-top: $spacing-unit-large; 
}


.portfolio-projects {
  margin-left: 10%; 
  margin-right: 10%; 
}

.grid-col {
  float: left;
  width: -webkit-calc(33.33% - (#{$spacing-unit-large} / 3));
  width:         calc(33.33% - (#{$spacing-unit-large} / 3));

  @include media-query(960px) {
  width: -webkit-calc(50% - (#{$spacing-unit-large} / 2));
  width:         calc(50% - (#{$spacing-unit-large} / 2));
  }

  @include media-query($on-small) {
  width: 100%;
  
  }
}

.grid-col {
  margin-right: $spacing-unit; 
  margin-bottom: $spacing-unit; 
}

.grid-col:nth-child(3n) {
  margin-right: 0; 
}

 @include media-query(960px) {
    .grid-col:nth-child(3n){
      margin-right: $spacing-unit;
    }
  }

/*Experimental hover styles */



.project-image-1 {
  position: relative;
  overflow: hidden; 
  z-index: 1; 
  min-height: 300px; 
  background: #fafafa url("/assets/img/01-flatiron-thumb.jpg");
  background-size: cover;  
}

.project-image-2 {
  position: relative;
  overflow: hidden; 
  z-index: 1;
   min-height: 300px; 
  background: #fafafa url("/assets/img/02-learn-mag.jpg");
  background-size: cover; 
}

.project-image-3 {
  position: relative;
  overflow: hidden; 
  z-index: 1;
   min-height: 300px; 
  background: #fafafa url("/assets/img/03-learn-widget-2.jpg");
  background-size: cover; 
}

.project-image-4 {
  position: relative;
  overflow: hidden; 
  z-index: 1;
   min-height: 300px; 
  background: #fafafa url("/assets/img/04-movable.jpg");
  background-size: cover; 
}

.project-image-5 {
  position: relative;
  overflow: hidden; 
  z-index: 1;
   min-height: 300px; 
  background: #fafafa url("/assets/img/05-mixit-thumb.jpg");
  background-size: cover; 
}

.project-image-6 {
  position: relative;
  overflow: hidden; 
  z-index: 1;
   min-height: 300px; 
  background: #fafafa url("/assets/img/06-idmag-thumb.jpg");
  background-size: cover; 
}



.overlay {
  background-color: rgba(74,74,74,0.8);
  position: absolute; 
  height: 100%; 
  width: 100%; 
  top: 0;
  left: 0; 
  z-index: 300; 
  opacity: 0; 
  text-align: center; 
  color: white;
  line-height: 300px;  

  &:hover {
    opacity: 1; 
  }
}

.view {
  font-family: $sans-font-family;
  font-size: 12px; 
  text-transform: uppercase; 
  letter-spacing: .5px;
}

.hover-fade {
  opacity: 1; 

  &:hover {
  opacity: .5; 
  }
}



/*end Experimental hover styles */

.grid-caption {
  font-family: $sans-font-family;
  font-size: 11px; 
  text-align: center; 
  text-transform: uppercase; 
  margin-top: 12px; 
  color: $grey-color-dark; 
  letter-spacing: .05em; 
}



/**
 * Project pages
*/

.section-hero,
.section-main {
  position: relative; 
}

.project-text-col-hero {
  margin-top: 96px; 
  position: relative;
}

.project-text-col {
  margin-left: 20%;
  margin-right: 20%;  
  position: relative; 

  h2 {
    margin-top: $spacing-unit-large; 
  }

  h2.separator-small {
    margin-top: $spacing-unit;
  }

@include media-query($on-medium) {
    margin-left: 10%; 
    margin-right: 10%; 
  }
  @include media-query($on-small) {
    margin-left: 0; 
    margin-right: 0; 
  }
}

.project-title {
  font-size: 44px; 
  padding-bottom: $spacing-unit;
  margin-bottom: 0; 
  font-family: 'Oswald', verdana, helvetica, sans-serif;

  &:after {
    border-bottom: 3px solid $brand-color; 
    content: "";
    display: block; 
    width: $spacing-unit-large;
  }
}

.project-subhead {
  font-style: italic; 
  font-size: 18px; 
  color: #7a7a7a;
  padding-bottom: $spacing-unit; 
}


.callout {
  padding-top:  $spacing-unit-large;
  padding-bottom: $spacing-unit-large; 
  padding-left: 500px; 
  padding-right: 500px; 
  margin-left: -500px; 
  margin-right: -500px; 
  background-color: #f8f8f8;
  border: 1px solid #eeeeee;

}

div.callout figure {
  margin-bottom: 0; 
}

div.callout figure > img {
  margin-top: 0; 
  margin-bottom: 0; 
}

div.callout figure > figcaption {
  padding-bottom: 0; 
}

.callout-text-col {
  position: relative; 
  margin: 0 20%; 

  h2{
    color: $brand-color; 
  }

  p { 
    font-size: 20px; 
    color: $brand-color; 
  }

  @include media-query($on-medium) { 
    margin-left: 10%; 
    margin-right: 10%; 
    padding-left: 0; 
    padding-right: 0; 
    text-overflow-x: hidden; 
    }


 @include media-query($on-small) { 
    margin-left: 0; 
    margin-right: 0; 
    padding-left: 0; 
    padding-right: 0; 
    text-overflow-x: hidden; 
    }

}



.space-before {
  margin-top: $spacing-unit-large; 
}

.segment-border-top {
  border-top: 1px solid #e4e4e4;

}

.separator-small {
  padding-top: $spacing-unit; 
}

.separator-small:before {
  content: "";
  display: block; 
  position: absolute; 
  top: 0;  
  border-top: 1px solid #e4e4e4;
  width: $spacing-unit-large;
}


.link-secondary {
  color: $brand-color;
  font-family: $sans-font-family; 
  font-size: $small-font-size;
  text-transform: uppercase; 
  margin-right: $spacing-unit; 
}

.link-project-nav {
  color: $brand-color;
  font-family: $sans-font-family; 
  font-size: 13px;
  text-transform: uppercase; 
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit; 

  &:hover {
    color: $brand-color-dark;
  }
}

.btn-spacing {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit; 
}

.space-before {
  margin-top: $spacing-unit-large; 
}

.space-after {
  margin-bottom: $spacing-unit-large;
}

