---
layout: default
---

<div class="home">

  <section class="statement-bg">
    <div class="statement">
      <p class="statement-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur.</p>
    </div> 
  </section>


<!--project section checking hover effects-->

  <section class="portfolio-projects"> 
    <div class="grid-col grid-col-1">
        <div class="project-image">
           <a href="/flatiron/">
            <div class="overlay">
             <p class="view">View Project</p>
            </div>
          </a>
        </div>  
       <p class="grid-caption">Flatiron School</p>  
    </div>

    <div class="grid-col grid-col-1">
          <div class="project-image">
             <a href="/flatiron/">
              <div class="overlay">
               <p class="view">View Project</p>
              </div>
            </a>
          </div>  
         <p class="grid-caption">Flatiron School</p>  
      </div>
    <div class="grid-col grid-col-1">
        <div class="project-image">
           <a href="/flatiron/">
            <div class="overlay">
             <p class="view">View Project</p>
            </div>
          </a>
        </div>  
       <p class="grid-caption">Flatiron School</p>  
    </div>

    <div class="grid-col grid-col-1">
          <div class="project-image">
             <a href="/flatiron/">
              <div class="overlay">
               <p class="view">View Project</p>
              </div>
            </a>
          </div>  
         <p class="grid-caption">Flatiron School</p>  
    </div>
    <div class="grid-col grid-col-1">
        <div class="project-image">
           <a href="/flatiron/">
            <div class="overlay">
             <p class="view">View Project</p>
            </div>
          </a>
        </div>  
       <p class="grid-caption">Flatiron School</p>  
    </div>

    <div class="grid-col grid-col-1">
          <div class="project-image">
             <a href="/flatiron/">
              <div class="overlay">
               <p class="view">View Project</p>
              </div>
            </a>
          </div>  
         <p class="grid-caption">Flatiron School</p>  
      </div>
 </section>


 <!--normal section -->


 <section class="portfolio-projects"> 

  <div class="grid-col grid-col-1">
     <a href="/flatiron/">
        <img src="/assets/img/01-flatiron-thumb.jpg" alt="flatiron">
      </a>
      <p class="grid-caption">Flatiron School</p>
    </div>
    <div class="grid-col grid-col-2">
     <a href="/learn-mag/">
        <img src="/assets/img/02-learn-mag.jpg" alt="learn magazine">
      </a>
      <p class="grid-caption">Learn Magazine</p>
    </div>
   <div class="grid-col grid-col-3">
       <a href="/onboarding/">
        <img src="/assets/img/03-learn-widget-2.jpg" alt="learn widget">
      </a>
      <p class="grid-caption">Learn Onboarding</p>
    </div>
    <div class="grid-col grid-col-4">
      <a href="/movable/">
        <img src="/assets/img/04-movable.jpg" alt="movable ink">
      </a>
      <p class="grid-caption">Movable Ink</p>
    </div>
    <div class="grid-col grid-col-5">
     <a href="/mix-it-up/">
        <img src="/assets/img/05-mixit-thumb.jpg" alt="mix it up">
      </a>
      <p class="grid-caption">Mix It Up</p>
    </div>
     <div class="grid-col grid-col-6">
       <a href="/interior-design/">
        <img src="/assets/img/06-idmag-thumb.jpg" alt="interior design">
      </a>
      <p class="grid-caption">Interior Design</p>
     </div>
   
  </section>
  
  {{ content }}

  <!--commented out default-post list -->

  <!--<ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> 

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
